// Branding colors
$gray-1: #F6F4F2;
$navy: #425664;
$brown: #C6AD8F;
$cream: #fffdf0;

$white: #fff;
$black: #384854;

// Branding colors (better)
$light-blue: #E1F2F7;
$medium-blue: #6e899e;
$red-orange: #ff8975;
$red: #EF0D50;
$pink: #E5BACE;